/******** LOGIN FORM STYLES **********/

form  			{ margin: 0px; padding: 0px; }
form .inputbox  { width: 120px; margin-left: 10px; }
form br 	    { display: none; }
.login          { margin: 0 auto; width: 500px; margin-bottom: 100px; }

h1 {
  margin: 15px 0;
}

p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

#lock  {
	background: url(../images/login/j_login_lock.jpg) 50% 0 no-repeat;
	width: 150px;
	height: 137px;
}

#content-box .m {
  padding: 10px;
}

#content-box .padding {
  padding: 30px 0;
}

#section-box  { float: right; width: 320px; margin-left: 10px;}

#section-box .m {
  padding: 5px;
}
#section-box .padding {
	background: none; padding: 0;
}

.button { text-align: right; }

.login-form    { text-align: left; width: 60%; }
.login-form h1 { display: none; }
.login-form p  { padding: 0 1em 0 1em; }

.login-text { text-align: left; width: 40%; float: left; }

#com-form-login label {
	display: block;
	float: left;
	width: 120px;
	text-align: right;
	padding: 4px;
	color: #666;
	font-weight: bold;
}

#com-form-login .button_holder {
	float: left;
	padding-left: 180px;
}

#com-form-login div.button1{
 	float: left;
}

#com-form-login div.button1 div.next {
	float: left;
}




div#element-box {
  background: #fff;
}

div#element-box div.section-box div.m {
	background: #fbfbfb;

}

div.t, div.b {
  height: 6px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

div.m {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 0 8px;
}

div#element-box div.m {
  padding: 5px 10px;
}

div#element-box div.section-box {
  background: #fbfbfb;
}

div#element-box div.section-box div.t {
  background: url(../images/login/j_border.png) 0 0 repeat-x;
}

div#element-box div.section-box div.t div.t {
   background: url(../images/login/j_crn_tr_med.png) 100% 0 no-repeat;
}

div#element-box div.section-box div.t div.t div.t {
   background: url(../images/login/j_crn_tl_med.png) 0 0 no-repeat;
}

div#element-box div.section-box div.b {
  background: url(../images/login/j_border.png) 0 100% repeat-x;
}

div#element-box div.section-box div.b div.b {
   background: url(../images/login/j_crn_br_med.png) 100% 0 no-repeat;
}

div#element-box div.section-box div.b div.b div.b {
   background: url(../images/login/j_crn_bl_med.png) 0 0 no-repeat;
}

div#element-box div.t {
  background: url(../images/login/j_border.png) 0 0 repeat-x;
}

div#element-box div.t div.t {
   background: url(../images/login/j_crn_tr_light.png) 100% 0 no-repeat;
}

div#element-box div.t div.t div.t {
   background: url(../images/login/j_crn_tl_light.png) 0 0 no-repeat;
}

div#element-box div.b {
  background: url(../images/login/j_border.png) 0 100% repeat-x;
}

div#element-box div.b div.b {
   background: url(../images/login/j_crn_br_light.png) 100% 0 no-repeat;
}

div#element-box div.b div.b div.b {
   background: url(../images/login/j_crn_bl_light.png) 0 0 no-repeat;
}
div#element-box h1{
	color:#0B55C4;
	font-size:20px;
	font-weight:bold;
	padding-bottom:8px;
	margin:15px 0;
	text-align: center;
}
.button1 {
background:url("../images/login/j_button1_left.png") no-repeat scroll 0 0 transparent;
margin-left:5px;
padding-left:10px;
white-space:nowrap;
}
.button1, .button1 div {
float:right;
height:1%;
}
.button1 .next {
background:url("../images/login/j_button1_next.png") no-repeat scroll 100% 0 transparent;
}

.button1 a {
color:#333333;
cursor:pointer;
display:block;
float:left;
font-size:12px;
font-weight:bold;
height:26px;
line-height:26px;
padding:0 30px 0 6px;
}
