/*********************************************
* JAdERP Stylesheet
* This file containes OverAll styles applyed
* to JAdERP diplayed component.
**********************************************
* JAdERP is suite of Open Source Joomla!1.5.x
* ERP/MRP native components and modules 
*********************************************
* ©2009 JAdEEP All rights reserved
*********************************************/

/*********************************************
************** Common styles ****************
*********************************************/
#maincolumn{font-family:Verdana,Arial,sans-serif;}

/*********************************************
************** Desktop styles ****************
*********************************************/
.DesktopIconsCategories{border:#930 1px solid;}
.DesktopIconsCategories legend{color:#333; font-weight:normal;font-size:14px;}
#IconsCategories{display:block; overflow:hidden;}
#DesktopIconContainer{float:left;width:80px; margin:10px; text-align:center; font-size:10px; padding:2px;}
#DesktopIconContainer:hover{cursor:pointer;color:#666;}
#DesktopIconContainer:hover div#DesktopIcons{background-color:#E5E5E5; background-position:0px -80px;}
#DesktopIconLimit{padding:2px; border:1px solid #E5E5E5; width:80px;}
#DesktopIcons{height:80px; width:80px; background-repeat:no-repeat; background-position:0px 0px;}
#DesktopIconsName{text-align:center !important; font-weight:bold; margin-top:3px;white-space:normal;}
#DesktopIconsReadMore{text-align:right !important;}

/*********************************************
************** Forms styles ****************
*********************************************/
div.tache{float:left; padding-left:52px; padding-top:18px; margin-left:8px; max-width:300px; display:block; height:34px; color:#333;font-size:16px;}

div#FormElementsGroup{margin:0px;}
div.FormElements{float:left; margin:5px 15px; min-width:165px; min-height:50px;}
div.FormElements img{margin-left:5px;}
label.clickable:hover{cursor:pointer;}
#JAdERPForm{}